@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(/fonts/Montserrat-Bold.ttf);
}

body {
  font-family: 'Montserrat-Regular';
}

.MontserratBold {
  font-family: 'Montserrat-Bold';
}

.animatePopup {
  top: 100px;
  animation-name: ShowUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes ShowUp {
  from {
    top: 100px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

.sideBounce {
  margin-left: 0px;
  animation-name: SideBounce;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  animation-duration: 5000ms;
}

@keyframes SideBounce {
  0% {
    margin-left: 0px;
  }

  33% {
    margin-left: 20px;
  }

  66% {
    margin-left: -20px;
  }

  100% {
    margin-left: 0px;
  }
}

.stoked-title {
  -webkit-text-fill-color: #25c4a4;
  -webkit-text-stroke: 3px #1D3C45;
  text-shadow: 6px 6px #1D3C45;
  font-size: 72px;
}

.swiper {
  width: 100%;
  /* height: 100%; */
}

.swiper-wrapper {
  max-height: 707px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.swiper-pagination div {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 50%;
  opacity: unset;
  background-color: transparent;
}

.swiper-pagination-bullet:first-child {
  background-image: url(/images/fourInOne-pagination.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  border: unset !important;
}

.swiper-pagination-bullet-active:first-child {
  background-image: url(/images/fourInOne-active-pagination.png) !important;
}

.swiper-pagination-bullet:not(:first-child).swiper-pagination-bullet-active {
  background: unset;
  background-color: #fff;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #fff;
  height: 5px;
  position: relative;
  top: 6px;
  border-radius: 30px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #fff;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  background-color: #EEB6A5;
  border: 2px solid #fff;
  box-shadow: 0px 0px 0px 2.5px #EEB6A5;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  position: relative;
  bottom: 4px;
}

.animatePopup {
  top: 100px;
  animation-name: ShowUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fadePage {
  animation-name: FadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}