@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(/fonts/Montserrat-Bold.ttf);
}

body {
  font-family: 'Montserrat-Regular';
}

.MontserratBold {
  font-family: 'Montserrat-Bold';
}

.animatePopup {
  top: 100px;
  animation-name: ShowUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes ShowUp {
  from {
    top: 100px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}